:root {
    --bgColor: #06090e;
    --windowBgColor: #06090e;
    --borderColor: #181c1a;
    --tableBorderColor: #abb7b1;
}

.boxConstraint {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.window {
    background: var(--windowBgColor);
    border: 3px solid var(--borderColor);
    border-radius: 2px;
    padding: 5px;
    box-sizing: border-box;
    width: 750px;
}

.mainContent .window {
    width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mainContentBig .window {
    width: 850px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#containerTable td {
    vertical-align: top;
}

#NPCTable td {
    border-collapse: collapse;
    border: solid 2px var(--tableBorderColor);
    vertical-align: middle;
}

body {
    font-size: medium;
    color: white;
    text-align: center;
    background-color: var(--bgColor);
    background-image: url("../images/bg.png");
    background-repeat: repeat;
    background-size: auto;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 850px;
    margin: 20px auto 0 auto;
    background-color: var(--windowBgColor);
    padding: 5px;
    box-sizing: border-box;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td img {
    padding: 10px;
}

td details {
    padding-bottom: 10px;
}

ul {
    text-align: center;
    list-style-position: inside;
    padding: 0;
}

a:link {
    color: darkgrey;
}
a:visited {
    color: grey;
}
a:hover {
    color: white;
}